name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9.14.2
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Lint (Biome)
        run: pnpm run lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9.14.2
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Vite globally
        run: npm install -g vite

      - name: Install dependencies
        run: pnpm install

      - name: Install playwright
        run: pnpm exec playwright install chromium

      - name: Run
        run: |
          pnpm --filter "./packages/**" run build
          pnpm run dev:prepare

      - name: Test
        run: |
          pnpm run test:workspaces
          pnpm run test
